config system global
    set alias "FortiGate-VM64-KVM"
    set gui-ipv6 enable
    set hostname "CE1"
    set timezone 04
end

config system interface
    edit "port1"
        set vdom "root"
        set ip 10.100.100.1 255.255.255.0
        set allowaccess ping https ssh http fgfm
        set type physical
        set snmp-index 1
    next
    edit "port2"
        set vdom "root"
        set ip 209.165.208.2 255.255.255.252
        set allowaccess ping ssh http
        set type physical
        set alias "WAN1"
        set lldp-reception enable
        set role wan
        set snmp-index 2
        config ipv6
            set ip6-address 2001:db8:acad:fff1::2/64
            set ip6-allowaccess ping ssh
            config ip6-extra-addr
                edit fe80::2/64
                next
            end
        end
    next 
    edit "port3"
        set vdom "root"
        set ip 109.165.208.2 255.255.255.252
        set allowaccess ping ssh http
        set type physical
        set alias "WAN2"
        set lldp-reception enable
        set role wan
        set snmp-index 3
        config ipv6
            set ip6-address 1000:1000:1000:1000::2/64
            set ip6-allowaccess ping ssh http
            config ip6-extra-addr
                edit fe80::2/64
                next
            end
        end
    next 
    edit "port4"
        set vdom "root"
        set ip 172.16.1.1 255.255.255.0
        set allowaccess ping
        set type physical
        set alias "LAN"
        set device-identification enable
        set lldp-transmission enable
        set fortiheartbeat enable
        set role lan
        set snmp-index 4
        config ipv6
            set ip6-address aaaa:bbbb:cccc:bbb1::1/64
            set ip6-allowaccess ping ssh http
            set dhcp6-information-request enable
            set ip6-send-adv enable
            config ip6-prefix-list
                edit aaaa:bbbb:cccc:bbb1::/64
                next
            end
        end
    next 
    edit "port5"
        set vdom "root"
        set type physical
        set snmp-index 5
    next 
    edit "port6"
        set vdom "root"
        set type physical
        set snmp-index 6
    next 
    edit "port7"
        set vdom "root"
        set type physical
        set snmp-index 7
    next 
    edit "port8"
        set vdom "root"
        set type physical
        set snmp-index 8
    next 
    edit "port9"
        set vdom "root"
        set type physical
        set snmp-index 9
    next 
    edit "port10"
        set vdom "root"
        set type physical
        set snmp-index 10
    next 
    edit "ssl.root"
        set vdom "root"
        set type tunnel
        set alias "SSL VPN interface"
        set snmp-index 11
    next 
    edit "Loopback0"
        set vdom "root"
        set ip 1.1.1.1 255.255.255.255
        set allowaccess ping ssh http
        set type loopback
        set alias "Target-Local"
        set snmp-index 12
        config ipv6
            set ip6-address 1:1:1:1:1:1:1:1/128
            set ip6-allowaccess ping ssh http
        end
    next 
end      


config firewall policy
    edit 1
        set name "LTarget-to-RTarget"
        set uuid 68858ea0-b712-51ea-4d35-b268cb95f3a7
        set srcintf "Loopback0"
        set dstintf "virtual-wan-link"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
        set fsso disable
        set nat enable
    next
    edit 2
        set name "RTarget-to-Ltarget"
        set uuid 86096ffa-b712-51ea-2344-8c4ea7892899
        set srcintf "virtual-wan-link"
        set dstintf "Loopback0"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
        set fsso disable
        set nat enable
    next 
    edit 3
        set name "LLAN-to-RLAN"
        set uuid c18d3890-b712-51ea-9b4d-db0ceaca9ca0
        set srcintf "port4"
        set dstintf "virtual-wan-link"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
        set fsso disable
        set nat enable
    next 
    edit 4
        set name "RLAN-to-LLAN"
        set uuid dcc0dbbc-b712-51ea-105e-045718b344a0
        set srcintf "virtual-wan-link"
        set dstintf "port4"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
        set fsso disable
        set nat enable
    next 
end      


config router ospf
    set router-id 1.1.1.1
    config area
        edit 0.0.0.0
        next
    end
    config ospf-interface
        edit "port2"
            set interface "port2"
        next
        edit "Loopback0"
            set interface "Loopback0"
        next
    end
    config network
        edit 1
            set prefix 209.165.208.0 255.255.255.252
        next
        edit 2
            set prefix 1.1.1.1 255.255.255.255
        next
        edit 3
            set prefix 172.16.1.0 255.255.255.0
        next
    end  
    set passive-interface "Loopback0"
    config redistribute "connected"
    end  
    config redistribute "static"
    end  
    config redistribute "rip"
    end  
    config redistribute "bgp"
    end  
    config redistribute "isis"
    end  
end      


config router rip
    config network
        edit 1
            set prefix 109.165.208.0 255.255.255.252
        next
        edit 2
            set prefix 1.1.1.1 255.255.255.255
        next
        edit 3
            set prefix 172.16.1.0 255.255.255.0
        next
    end
    config redistribute "connected"
    end
    config redistribute "static"
    end
    config redistribute "ospf"
    end
    config redistribute "bgp"
    end
    config redistribute "isis"
    end
    config interface
        edit "port3"
            set receive-version 2
            set send-version 2
        next
    end  
end      

