hostname P1
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
no ip icmp rate-limit unreachable
ip cef
!
!
!
!
!         
!         
no ip domain lookup
no ipv6 cef
!         
!         
no mpls ip propagate-ttl 
multilink bundle-name authenticated
!         
!         
!         
!         
!         
!         
!         
!         
!         
ip tcp synwait-time 5
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
interface Loopback0
 ip address 2.2.2.2 255.255.255.0
 ip ospf network point-to-point
!         
interface Tunnel0
 ip address 209.165.211.1 255.255.255.252
 ip ospf network point-to-point
 mpls ip  
 tunnel source FastEthernet0/0
 tunnel destination 10.10.22.1
!         
interface FastEthernet0/0
 description P1 to Wanem 
 ip address 10.10.11.1 255.255.255.252
 duplex full
!         
interface FastEthernet2/0
 no ip address
 shutdown 
 duplex full
!         
interface GigabitEthernet3/0
 description P1 to PE1 
 ip address 209.165.210.2 255.255.255.252
 ip ospf network point-to-point
 negotiation auto
 mpls ip  
!         
interface Serial4/0
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/1
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/2
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/3
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Ethernet5/0
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/1
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/2
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/3
 no ip address
 shutdown 
 duplex full
!         
router ospf 1
 router-id 2.2.2.2
 passive-interface Loopback0
 network 2.2.2.0 0.0.0.255 area 0
 network 209.165.210.0 0.0.0.3 area 0
 network 209.165.211.0 0.0.0.3 area 0
!         
ip forward-protocol nd
!         
!         
no ip http server
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 10.10.11.2
!         
!         
!         
!         
control-plane
!         
!         
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login    
!         
!         
end       

