hostname PE11
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
no ip icmp rate-limit unreachable
ip cef
!
ip vrf IZANAGI
 rd 222:222
 route-target export 222:222
 route-target import 222:222
!
!         
!         
!         
!         
!         
no ip domain lookup
ipv6 unicast-routing
ipv6 cef  
!         
!         
multilink bundle-name authenticated
!         
!         
!         
!         
!         
!         
!         
!         
!         
ip tcp synwait-time 5
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
interface Loopback0
 ip address 3.3.3.3 255.255.255.0
 ip ospf network point-to-point
!         
interface Tunnel0
 ip address 209.165.211.2 255.255.255.252
 ip ospf network point-to-point
 mpls ip  
 tunnel source GigabitEthernet3/0
 tunnel destination 10.10.11.1
!         
interface FastEthernet0/0
 ip vrf forwarding IZANAGI
 ip address 209.165.209.1 255.255.255.252
 duplex full
!         
interface FastEthernet2/0
 no ip address
 shutdown 
 duplex full
!         
interface GigabitEthernet3/0
 ip address 10.10.22.1 255.255.255.252
 negotiation auto
!         
interface Serial4/0
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/1
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/2
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/3
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Ethernet5/0
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/1
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/2
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/3
 no ip address
 shutdown 
 duplex full
!         
router ospfv3 1
 router-id 3.3.3.3
 !        
 address-family ipv4 unicast
 exit-address-family
 !        
 address-family ipv6 unicast
 exit-address-family
!         
router ospf 2 vrf IZANAGI
 router-id 4.4.4.4
 redistribute bgp 1 subnets
 network 209.165.209.0 0.0.0.3 area 0.0.0.0
!         
router ospf 1
 passive-interface Loopback0
 network 3.3.3.0 0.0.0.255 area 0
 network 209.165.211.0 0.0.0.3 area 0
!         
router bgp 1
 bgp log-neighbor-changes
 neighbor 1.1.1.1 remote-as 1
 neighbor 1.1.1.1 update-source Loopback0
 !        
 address-family ipv4
  no neighbor 1.1.1.1 activate
 exit-address-family
 !        
 address-family vpnv4
  neighbor 1.1.1.1 activate
  neighbor 1.1.1.1 send-community both
 exit-address-family
 !        
 address-family vpnv6
  neighbor 1.1.1.1 activate
  neighbor 1.1.1.1 send-community both
 exit-address-family
 !        
 address-family ipv4 vrf IZANAGI
  redistribute ospf 2
 exit-address-family
!         
ip forward-protocol nd
!         
!         
no ip http server
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 10.10.22.2
!         
!         
!         
!         
control-plane
!         
!         
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login    
!         
!         
end       

