hostname PE2
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
no ip icmp rate-limit unreachable
ip cef
!
ip vrf IZANAGI
 rd 111:111
 route-target export 111:111
 route-target import 111:111
!
!         
!         
!         
!         
!         
no ip domain lookup
ipv6 unicast-routing
ipv6 cef  
!         
!         
multilink bundle-name authenticated
!         
!         
!         
!         
!         
!         
!         
!         
!         
ip tcp synwait-time 5
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
!         
interface Loopback0
 ip address 1.1.1.1 255.255.255.0
 ip ospf network point-to-point
!         
interface FastEthernet0/0
 ip vrf forwarding IZANAGI
 ip address 109.165.208.1 255.255.255.252
 duplex full
!         
interface FastEthernet2/0
 no ip address
 shutdown 
 duplex full
!         
interface GigabitEthernet3/0
 description PE1 to P1 
 ip address 209.165.110.1 255.255.255.252
 ip ospf network point-to-point
 negotiation auto
 mpls ip  
!         
interface Serial4/0
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/1
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/2
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Serial4/3
 no ip address
 shutdown 
 serial restart-delay 0
!         
interface Ethernet5/0
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/1
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/2
 no ip address
 shutdown 
 duplex full
!         
interface Ethernet5/3
 no ip address
 shutdown 
 duplex full
!         
router ospfv3 2
!         
router ospfv3 1
!         
router ospf 1
 passive-interface Loopback0
 network 1.1.1.0 0.0.0.255 area 0
 network 209.165.110.0 0.0.0.3 area 0
!         
router rip
 !        
 address-family ipv4 vrf IZANAGI
  redistribute bgp 1 metric transparent
  network 4.0.0.0
  network 109.0.0.0
  no auto-summary
  version 2
 exit-address-family
!         
router bgp 1
 bgp log-neighbor-changes
 neighbor 3.3.3.3 remote-as 1
 neighbor 3.3.3.3 update-source Loopback0
 !        
 address-family vpnv4
  neighbor 3.3.3.3 activate
  neighbor 3.3.3.3 send-community both
 exit-address-family
 !        
 address-family vpnv6
  neighbor 3.3.3.3 activate
  neighbor 3.3.3.3 send-community both
 exit-address-family
 !        
 address-family ipv4 vrf IZANAGI
  redistribute rip
 exit-address-family
!         
ip forward-protocol nd
!         
!         
no ip http server
no ip http secure-server
!         
!         
!         
!         
control-plane
!         
!         
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login    
!         
!         
end       

